---
layout: main
title: Archive
permalink: /archive/index.html
---

<h1 class="title">My Posts</h1>
<ul class="listing">
	{% for post in site.posts %}
    {% unless post.next %}
      <h2>{{ post.date | date: '%Y' }}</h2>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h2>{{ post.date | date: '%Y' }}</h2>
      {% endif %}
    {% endunless %}

    <li>
    	<span>{{ post.date | date: "%B %e, %Y" }}</span>
    	<a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul><br />

<h1 class="title">Press</h1>
<ul class="listing">
	<li>
		<span>November 3, 2014</span>
		<a href="http://yaledailynews.com/blog/2014/11/03/despite-server-crash-yhack-flourishes/">Yale Daily News - "Despite server crash, YHack flourishes"</a>
	</li>
	<li>
		<span>November 11, 2013</span>
		<a href="http://yalealumnimagazine.com/blog_posts/1624">Yale Alumni Magazine - "What the cool kids are coding"</a>
	</li>
	<li>
		<span>April 7, 2013</span>
		<a href="http://techcrunch.com/2013/04/07/students-tackle-road-trips-online-distraction-and-more-at-hackprinceton/">TechCrunch - SeeMail app at HackPrinceton</a>
	</li>
	<li>
		<span>November 18, 2012</span>
		<a href="http://www.nhregister.com/articles/2012/11/18/life/doc50a7b7b7ee202549893158.txt">New Haven Register - "Yale students roll up sleeves to lend a hand with Sandy relief"</a>
	</li>
	<li>
		<span>August 8, 2011</span>
		<a href="http://theweek.com/article/index/218074/watch-the-throne-is-kanye-west-and-jay-zs-new-album-worth-the-hype">The Week - "Best Opinion:  NY Post, Lost in the Sound, MTV"</a>
	</li>
</ul>
