<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% if page.title == "Frank Wu" %}
		{{ page.title }}
		{% else %}
		{{ page.title }} | Frank Wu
		{% endif %}</title>
	<meta name="author" content="Frank Wu" />
	<meta name="description" content="Dreamer, entrepreneur, and life-long learner. Currently studying at Yale and building a better world one line of code at a time." />
	<link rel="stylesheet" href="/css/styles.css" />
	<link rel="stylesheet" href="/css/syntax.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	{% if page.path contains '_posts' %}<script type="text/javascript" src="/js/main.js"></script>{% endif %}
	<link rel="alternate" type="application/rss+xml" title="Frank Wu" href="http://frankjwu.com/rss.xml">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="header">
		{% if page.path contains '_posts' %}<div class="statusbar"></div>{% endif %}
		<div class="container">
			<div class="site-title">
				<a href="/">Frank Wu</a><br />
				<ul class="menu">
					<li><a href="/">home</a></li>
					<li><a href="/about/">about</a></li>
					<li><a href="/projects/">projects</a></li>
					<li><a href="/archive/">archive</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="main">
			{{ content }}
		</div>
		<div class="sidebar">
			<p><div class="pic"></div>
			I'm a sophomore at Yale University with big dreams and big ideas. <a href="/about/">Read more about me here.</a></p>

			<p>You can find me on Twitter at <a href="http://twitter.com/frankjwu">@frankjwu</a>. You can also send me an <a href="mailto:me@frankjwu.com">email</a>.</p>

			<h2 id="side">Recent Posts</h2>
			{% for post in site.posts offset: 0 limit: 5 %}
			<a id="side" href="{{ post.url }}">{{ post.title }}</a>
			<hr class="separator" />
			{% endfor %}
			<b><a id="side" href="/archive/">More posts</a></b>
		</div>
		<div class="clear"></div>
	</div>
	<div class="footer">
		<div class="follow">
		<p>
			<a href="http://twitter.com/frankjwu/">Twitter</a> / <a href="http://facebook.com/frankjwu/">Facebook</a> / <a href="http://github.com/frankjwu/">GitHub</a>
		</p>
		</div>
		<div class="email">
			<p>
				Drop me a line: <a href="mailto:me@frankjwu.com">me@frankjwu.com</a>
			</p>
		</div>
	</div>

<!-- Google Analytics -->
<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32892906-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
</script>
<!-- Google Analytics end -->

</body>
</html>