<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% if page.title == "Frank Wu" %}
		{{ page.title }}
		{% else %}
		{{ page.title }} | Frank Wu
		{% endif %}</title>
	<meta name="author" content="Frank Wu" />
	<meta name="description" content="Dreamer, entrepreneur, and life-long learner. Currently studying at Yale and building a better world one line of code at a time." />
  <link rel="stylesheet" href="/css/styles.css" />
	<link rel="stylesheet" href="/css/syntax.css" />
	<link href='http://fonts.googleapis.com/css?family=Tauri' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="pic">
			</div>
			<div class="site-title">
				<a href="/">Frank Wu</a>
				<ul class="menu">
					<li><a href="/">home</a></li>
					<li><a href="/about/">about</a></li>
					<li><a href="/projects/">projects</a></li>
					<li><a href="http://feeds.feedburner.com/frankjwu">rss</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
	  {{ content }}

		<div class="footer">
			<div class="follow">
				<p>
	         <a href="http://twitter.com/frankjwu/">Twitter</a> / <a href="http://facebook.com/frankjwu/">Facebook</a> / <a href="http://github.com/frankjwu/">GitHub</a>
				</p>
			</div>
			<div class="email">
				<p>
					Drop me a line: <a href="mailto:me@frankjwu.com">me@frankjwu.com</a>
				</p>
			</div>
	  </div>
	</div>

<!-- Google Analytics -->
<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32892906-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
</script>
<!-- Google Analytics end -->

</body>
</html>