---
layout: main
---

<section class="content">
	<div class="title"><a href="{{ page.url }}">{{ page.title }}</a></div>
	<section class="dateline">{{ page.date | date: "%B %e, %Y" }}</section>

	{{ content }}

	<hr class="separator" />

	<!-- Disqus Comments -->
	<div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'frankjwu';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
</section>